<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd"
    default-lazy-init="true">

	<context:annotation-config/>

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="cn.moyada.dubbo.faker.ui" />

    <mvc:annotation-driven />
    <mvc:default-servlet-handler/>

    <mvc:resources mapping="**" location="META-INF/resources/" />

    <!-- swagger 配置 -->
    <bean class="cn.moyada.dubbo.faker.ui.config.Swagger2Config"/>
</beans>
