<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd"
    default-lazy-init="true">

	<context:annotation-config/>

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="cn.xueyikang.dubbo.faker.ui" />

    <mvc:annotation-driven />

    <!--<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig"/>-->

    <!-- swagger 配置 -->
    <bean class="cn.xueyikang.dubbo.faker.ui.config.Swagger2Config"/>

    <!-- swagger ui resources-->
    <mvc:resources mapping="/swagger/**" location="swagger/" />
    <mvc:resources mapping="/**" location="resource/" />


    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--&lt;!&ndash; Example: a logical view name of 'showMessage' is mapped to '/WEB-INF/jsp/showMessage.jsp' &ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/view/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->
</beans>
