target/
classes/
.idea
*.iml
*.log
.babel.json
logs/
deploy/logs/
sharingan-manager/src/main/resources/application.yaml
deploy/config/conf-test.properties
deploy/sharingan-manager.jar
out/
/sharingan-manager/page/node_modules/
.classpath
.project
.settings/