<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
	   default-autowire="byName" default-lazy-init="true">

	<context:property-placeholder order="0" location="classpath*:/properties/*.properties" />
	<!--<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">-->
		<!--<property name="locations">-->
			<!--<list>-->
				<!--<value>classpath:properties/*.properties</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--&lt;!&ndash;<property name="ignoreUnresolvablePlaceholders" value="true"/>&ndash;&gt;-->
	<!--</bean>-->

	<context:annotation-config/>

	<!-- 扫描controller（controller层注入） -->
	<context:component-scan base-package="cn.moyada.dubbo.faker.**" />

	<mvc:annotation-driven />

	<!--<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig"/>-->

	<!-- swagger 配置 -->
	<bean class="cn.moyada.dubbo.faker.web.config.Swagger2Config"/>

	<import resource="classpath:application-core.xml"/>

	<!--<import resource="classpath:application-dubbo.xml"/>-->
	<import resource="classpath:application-datasource.xml"/>
</beans>
