<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moyada.sharingan.storage.mysql.dao.AppDAO">

	<resultMap id="appDO" type="cn.moyada.sharingan.storage.api.domain.AppDO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="group_id" property="groupId"/>
		<result column="artifact_id" property="artifactId"/>
		<result column="version" property="version"/>
		<result column="url" property="url"/>
		<result column="dependencies" property="dependencies"/>
	</resultMap>

	<sql id="baseColumn">
		`id`, `name`, `group_id`, `artifact_id`, `version`, `url`, `dependencies`
	</sql>

	<insert id="save">
		INSERT INTO `app_info`
		(<include refid="baseColumn"/>, `internal`)
		VALUES
		(NULL, #{appName}, #{groupId}, #{artifactId}, #{version}, #{url}, #{dependencies}, #{internal});
	</insert>

	<select id="findAll" resultMap="appDO">
		SELECT <include refid="baseColumn"/> FROM `app_info`
		WHERE internal = 0;
	</select>

	<select id="findById" resultMap="appDO">
		SELECT <include refid="baseColumn"/> FROM `app_info`
		WHERE id = #{appId} LIMIT 1
	</select>

	<select id="findByName" resultMap="appDO">
		SELECT <include refid="baseColumn"/> FROM `app_info`
		WHERE name = #{appName} LIMIT 1
	</select>

	<select id="findByIds" resultMap="appDO">
		SELECT <include refid="baseColumn"/>
		FROM `app_info`
		WHERE id IN
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
</mapper>